span {
  position: relative;
}

.audio {
  position: absolute;
  top: 50%;
  bottom: 50%;
}
audio {
  height: 35px;
  width: 400px;
}
/* 
<audio controls>
    <source src="./31/audio31/Track 097.mp3" type="audio/mp3" />
</audio> 
    */
